html {
	font-size: 10px;
	font-family: 'hanamin', serif;
	background-color: Linen;
}

body{
	width: 800px;
	margin: 0 auto;
	background-color: PeachPuff;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	margin: 0px;
	padding: 20px 0;
	font-size: 48px;
	text-align: center;

}

h2 {
	font-size: 32px;
}

p, li {
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: 1px;
}

img {
	width: 100px;
	/*display: block;*/
	margin: auto;
}
