html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: hsl(68, 53%, 92%);

}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.clock {
  font-size: 8em;
  line-height: 0;
  font-family: monospace;
}
button {
  font-size: 2em;
  border: 0;
  padding: 1em;
  background: hsl(151, 67%, 72%);
  border-radius: 0.5em;
  transition: border-radius 0.3s,
  background 0.1s,
  color 0.1s;
}
button:disabled {
  background: hsl(102, 18%, 86%);
}
button:enabled:hover {
  cursor: pointer;
  border-radius: 2em;
}

button:disabled:hover {
  cursor: not-allowed;
}
button:active {
  background: hsl(113, 100%, 83%);
  outline: none;
}
